<div class="place ui-state-default">
<div class="icon icon-<%=current.icon%>"></div>
<div class="temperature" data-celcius="<%=current.temperatureCelcius%>" data-forenheit="<%=current.temperatureForenheits%>"><%=current.temperatureCelcius%>°</div>
<div class="city-area"><div class="city-name"><%=cityName%></div>
  <div class="weather">//<%=current.summary%></div></div>
<label class="checkbox-area"><input type="checkbox" name="task_1" value="1" class="custom-checkbox checkbox-place">
  <span class="check-icon"></span>
</label>
</div>
